# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Create ordered and unordered lists in markdown
- Create a table in markdown
- Show basic arithemetic calcualtions in python
- Create tests of deffierent styles in markdown

Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. SQL
4. JavaScript

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Pytorch
4. TensorFLow

| Data Science Tools |
|--------------------|
| Apache Hadoop |
| RStudio |
| Jupyter Lab |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Madhura Pande